
.navbar-wrapper {
    font-size: 18px;
    background-color: #fff;
    border-bottom: 4px solid #0eb1d2;
}

.main-nav-wrapper {
    margin-top: 50px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 116px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: auto;
        margin-top: auto;
    }

    .main-nav li {
        margin: auto;
        line-height: 66px;
        display: inline-block;
        height: 100%;
    }

    .main-nav li.active {
        border-bottom-style: solid;
        border-bottom-width: 4px;
        border-bottom-color: #fff;
        
        background-color: #0eb1d2;
        color: #fff;
    }
    .main-nav li.active a {
        color: #fff;
    }

    .nav-links {
        margin-left: 20px;
        margin-right: 20px;
    }

    .logo {
        margin-top: 0;
        margin:0;
        padding: 0;
        line-height: 100px;
        width: 200px;
    }
    .logo img {
        position: absolute;
        bottom: 10px;
        height: 65px;
    }
   
    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: #0b2545;
    }
}