<div class="navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <nav class="navbar">
                <span class="navbar-toggle" id="js-navbar-toggle">
                    <i class="fas fa-bars"></i>
                </span>
                <div class="logo">
                    <img src="/img/logo_mg_right.svg" title="CEO at Manuel Grundner - code &amp; consult" alt="CEO at Manuel Grundner - code &amp; consult" />
                </div>
                <div class="main-nav-wrapper">
                    <ul class="main-nav" id="js-menu">
                        <li>
                            <a href="#" class="nav-links">Home</a>
                        </li>
                        <li class="active">
                            <a href="#" class="nav-links">Products</a>
                        </li>
                        <li>
                            <a href="#" class="nav-links">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="nav-links">Contact Us</a>
                        </li>
                        <li>
                            <a href="#" class="nav-links">Blog</a>
                        </li>
                    </ul>
                </div>
            </nav>
            </div>
        </div>
    </div>    
</div>