<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% else %}<meta name="description" content="{{ page.title }}" />{% endif %}
    {% if page.author %}<meta name="author" content="{{ page.author }}" />{% else %}<meta name="author" content="Manuel Grundner" />{% endif %}
    <title>{{ page.title }} | Manuel Grundner - code &amp; consult</title>
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: "," }}" />{% endif %}

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>